* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e9e5d7;
}

body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#header {
  grid-area: 1 / 1 / 2 / 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  font-family: Optima, sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #0b0835;
}
#setplayers {
  grid-area: 2 / 2 / 5 / 5;
  background-color: #f28a0f;
  font-family: Optima, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #0b0835;
}
form {
  grid-area: 2 / 1 / 5 / 3;
  height: 10px;
  width: 200px;
  margin: 100px;
  padding: 10px;
  font-family: Optima, sans-serif;
  font-size: 20px;
  color: #0b0835;
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.cell {
  width: 10rem;
  height: 10rem;
  border: 2px solid black;
  display: flex;
}

.board {
  grid-area: 2 / 3 / 5 / 6;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(3, 10rem);
}
#player1score,
#player2score {
  grid-area: 2 / 6 / 5 / 8;
}
footer {
  grid-area: 5 / 1 / 6 / 8;
}
